@* <CascadingBlazoredModal Position="ModalPosition.Middle" Size=" Blazored.Modal.ModalSize.Large" HideHeader="true" DisableBackgroundCancel="true" AnimationType="ModalAnimationType.FadeInOut">
    <Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
 </CascadingBlazoredModal>
 *@
@* <CascadingBlazoredModal Position="ModalPosition.Middle"
                        Size="Blazored.Modal.ModalSize.Large"
                        HideHeader="true"
                        DisableBackgroundCancel="true"
                        AnimationType="ModalAnimationType.FadeInOut">

    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </CascadingAuthenticationState>

</CascadingBlazoredModal> *@
<CascadingAuthenticationState>
    <CascadingBlazoredModal Position="ModalPosition.Middle"
                            Size="Blazored.Modal.ModalSize.Large"
                            HideHeader="true"
                            DisableBackgroundCancel="true"
                            AnimationType="ModalAnimationType.FadeInOut">

        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>

            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>

    </CascadingBlazoredModal>
</CascadingAuthenticationState>
